.container-fluid{
    padding:0;
}

.container-fluid .row{
    margin:0;
}

/* Navbar */

.navbar{
    border-bottom: 0.5px solid #b89efd;
    margin-bottom: 20px;

}

.navbar-nav{
    margin: auto;
    
}

.navbar-brand{
    color:#b89efd;
    font-weight: bold;
}

.navbar-nav .nav-link{
    color: #b89efd;
    letter-spacing: 2px;
    
}

/* Botão de adicionar */

#add-link{
    text-decoration: none;
}

.add-div {
    background-color: #5df7c3;
    cursor: pointer;    
    display: inline-block;
    color: white;
    padding: 8px;
    border-radius: 5px;
    margin-right: 25px;
}

.fas.fa-plus {
    color: white;
    margin-right: 10px;
    margin-left: 5px;
}
/* Search */

.fas.fa-search {
    position:absolute;
    top:12px;
    right:26px;
}

.search-div {
    padding: 0px;
    margin-top: 15px;
    margin-bottom:15px;
    display: inline-block;
}

/* Listas de Tarefas */

.list-div {
    padding: 0;
}

.task-list {
    padding-left:0;
}

.task-item {
    list-style: none;
    font-size: 20px;
    height: 50px;
    padding-top: 10px;
    border-bottom: 1px dashed #b89efd;
}

.button-mid {
    display: flex;
    margin: auto;
}

.fas.fa-trash {
    color:rgb(252, 5, 5);
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
}
.fas.fa-edit{
    color: rgb(0, 189, 116);
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
}

.form-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.fa-check {
    color: rgb(0, 189, 116);
    cursor: pointer;
    margin-left: 80%;
    font-size: 50px;
    
}

.fa-x {
    color: rgb(252, 5, 5);
    cursor: pointer;
    margin-left: 0%;
    font-size: 50px;
}

/* Rodapé */

footer {
    background-color: rgba(255, 252, 239, 0.842);
    padding: 20px;
    text-align: center;
    color: rgb(252, 252, 252);
}

footer p {
    color:rgb(0, 0, 0);
    text-align: center;
    top: 50%;
    position: relative;
}

/* Messages */

ul.messages{
    padding: 0;
}

ul.messages li {
    list-style: none;
}

/* Paginação */
.pagination {
    margin-bottom: 20px;
}

.step-links {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.step-links .current {
    margin-left: 5px;
    margin-right: 5px;
}

/* login */

auth-card {
    margin-bottom: 30px;
}