{% extends 'base.html' %}

{% block title %}Editando '{{task.title}}'{% endblock %}

{% block content %}
<div class="offset-1 col-10 ">
    <h1>Tem certeza que quer excluir {{task.title}} de forma permanente ?</h1>
    <!-- <form method="POST"> -->
        {% csrf_token %}
        <div class ="container">
            <a href="/"><span><i class="fa-solid fa-x"></i></span></a> 
            <a href="/deletereally/{{task.id}}"><span><i class="fa-solid fa-check"></i></span></a>

        </div>
        <!-- </form> -->
</div>
{% endblock %}